<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color:blueviolet"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar-Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">ID</ion-label>
      <ion-input type="text" name="txId" [(ngModel)]="registro.id" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombres" [(ngModel)]="registro.nombres" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" name="txApellidos" [(ngModel)]="registro.titulo" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea type="text" name="txDescripcion" [(ngModel)]="registro.descripcion" required></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="grabar()" color="danger" expand="block">Agregar Item</ion-button>
      </ion-col>
    </ion-row>
  {{registro.nombres}}
  </form>
</ion-content>
