<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crud-modificar-mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crud-modificar-mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="full">
    <ion-label position="floating">ID</ion-label>
    <ion-input type="text" name="txId" [(ngModel)]="registro.id" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Nombre Mapa:</ion-label>
    <ion-input type="text" name="txNombres" [(ngModel)]="registro.nombres" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Ban permitidos:</ion-label>
    <ion-input type="text" name="txApellidos" [(ngModel)]="registro.titulo" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Descripcion:</ion-label>
    <ion-textarea type="text" name="txDescripcion" [(ngModel)]="registro.descripcion" required></ion-textarea>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">cantidad_azules:</ion-label>
    <ion-input type="text" name="tCantidad_azul" [(ngModel)]="registro.cantidad_azul" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">cantidad_rojos:</ion-label>
    <ion-input type="text" name="txCantidad_rojo" [(ngModel)]="registro.cantidad_rojo" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Tematica especial:</ion-label>
    <ion-input type="text" name="txTematica_especial" [(ngModel)]="registro.tematica_especial" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Reglas espeicales:</ion-label>
    <ion-input type="text" name="txReglas_especiales" [(ngModel)]="registro.reglas_especiales" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button (click)="grabar()" color="danger" expand="block">Actualizar Mapa</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
