<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ID: {{producto.id}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <p>Nombre: {{producto.nombre}}</p>
      </ion-item>
      <ion-item>
        <p>Titulo: {{producto.titulo}}</p>
      </ion-item>
      <ion-button type="button" shape="round" color="primary" expand="block" href="/crud-actualizar-campeon/{{producto.id}}">Editar</ion-button>
      <ion-button type="button" shape="round" color="danger" expand="block" (click)="delete(producto.id)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>